a {
  color: #FDD835;
}
a:hover {
  color: #fdce03;
}

.navbar-brand, .navbar-brand:hover {
  color: #FDD835;
}

.item {
  color: #757575;
}
.item:hover, .item.active {
  color: #FDD835;
}
.item:hover::after, .item.active::after {
  background: #FDD835;
}

.active .item {
  color: #FDD835;
}
.active::after {
  background: #FDD835;
}

.sider-bar li::after,
.nav-home li::after {
  background: #FDD835;
}

.amp_pre .btn-copy {
  background: #FDD835;
}

.btn-border {
  color: #FDD835;
  border-color: #FDD835;
}
.btn-border:hover {
  color: #fdce03;
  border-color: #fdce03;
}

.btn-main,
.btn-toggle {
  background: #FDD835;
}
.btn-main:hover,
.btn-toggle:hover {
  background-color: #fdce03;
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: #FDD835;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #FDD835;
}

.checkbox[checked=checked] + .checkbox-label::after {
  background-color: #FDD835;
}
.checkbox:hover + .checkbox-label::after {
  background-color: #fdd31c;
}

.box-getdate .btn-main {
  color: #FDD835;
  border: 1px solid #FDD835;
}
.box-getdate .btn-main:hover, .box-getdate .btn-main:focus, .box-getdate .btn-main:active {
  color: #e3ba02;
  border-color: #e3ba02;
}

.progress-bars {
  background: #FDD835;
}

/*
* Tuds tDatepicker
* Copyright 2018 tuds - crazychicken
* Licensed under: LICENSE
* Version: v1.0.2
*/
.t-check-in,
.t-check-out {
  border-color: #ededed;
}

.t-check-in {
  border-right-color: #e8e8e8;
}

.t-date-title {
  color: #e91e63;
}

.t-special-day:before {
  border-color: transparent;
  border-top-color: #e91e63;
  border-right-color: #e91e63;
}

.t-datepicker-day {
  border-color: #ededed;
  background: #fff;
}

.t-day, .t-range, .t-start, .t-end, .t-disabled {
  background: #fafafa;
  border-color: #fff;
}

.t-disabled {
  background: transparent;
}

.t-highlighted {
  color: #FDD835;
}
.t-highlighted.t-disabled {
  background: #fafafa;
}

.t-start,
.t-end,
.t-end-limit {
  color: #fff;
  background: #fdd31c;
}

.t-range, .t-range-limit {
  color: #FDD835;
}

.t-range {
  background: #fffae6;
}

.t-range-limit {
  background: #fef0b3;
}
.t-range-limit.t-start, .t-range-limit.t-end {
  color: #fff;
  background: #fee268;
}

.t-check-in .t-end,
.t-check-out .t-start,
.t-check-out tr ~ .t-end {
  color: #fff;
  background: #fdd31c;
}

.t-hover-day, .t-hover-day-content, .t-hover-day:hover {
  color: #fff;
  background: #FDD835;
}
.t-hover-day::after {
  border-color: transparent;
  border-top-color: #FDD835;
}

.t-today, .t-today .t-hover-day-content {
  background: #aeaeae;
}
.t-today::after {
  border-top-color: #aeaeae;
}
.t-today:hover, .t-today:hover .t-hover-day-content {
  background: #FDD835;
}
.t-today:hover::after {
  border-top-color: #FDD835;
}

.t-start.t-today,
.t-end.t-today {
  color: #fff;
}
.t-start.t-today, .t-start.t-today .t-hover-day-content,
.t-end.t-today,
.t-end.t-today .t-hover-day-content {
  background: #fdd31c;
}
.t-start.t-today::after,
.t-end.t-today::after {
  border-top-color: #fdd31c;
}/*# sourceMappingURL=theme-yellow.css.map */